:root{
    --primary-color: #1e9fb5fe;
}
body{
    
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
  }

  
  .playgame{
    height:200px;
      text-decoration: none;
      padding: 0.5rem 1rem;
      text-align: center;
      margin: auto;
      background-color: #60b6d3;
      border-radius: 2rem;
      border: var(--primary-color);
      position: relative;
      bottom: -20px;
      color: black;
      position: relative;
text-align: center;
}
.blog-heading{
    position: relative;
    top: 20px;
    color:black;
    position: relative;
    text-align: center;
    
}
.blog-description{
    color: black;
}
.blogone, .blogtwo, .blog-heading{
    position: relative;
    text-align: center;
}
.blogone, .blogtwo{
    top: -10px;
}

  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    
    
  }
  
  .left {
    width: 55%;
  }
  
  .right {
    width: 45%;
  }
  
  .coder{
     left: 100px;
     bottom:100px;
  }

  .details{
      height:200px;
      text-decoration: none;
      padding: 0.5rem 1rem;
      text-align: center;
      margin: auto;
      background-color: var(--primary-color);
      width: 90%;
      
      
     
  }
  .details-projects{
    background-color: white;
      border-radius: 2rem;
      border: var(--primary-color);
      position: relative;
      bottom: -40px;
      
      
      
       
  }
  /*.details-aboutme{
    background-color:white;
    border-radius: 2rem;
    border: var(--primary-color);
    position: relative;
    bottom: -40px;
    right: -10px;
    
}*/
.aboutme{
color: black;
position: relative;
text-align: center;
top:50px;
}
  
.aboutme-details{
    color: var(--primary-color);
}
.achievements{
  position: relative;
  text-align: left;

}
.contact{
  color: var(--primary-color);
  position: relative;
  top:50px;
  
}
.form-details{
  color:black;
  position: relative;
  
  
}

:root{
    --primary-color: #1e9fb5fe;
}


.margin{
  margin:10px 10px 10px 10px;
}

.footer-area{
  height:100px;
  background-color: var(--primary-color);
}
