
:root{
    --primary-color: #1e9fb5fe;
}

.playgame{
    height:200px;
      text-decoration: none;
      padding: 0.5rem 1rem;
      text-align: center;
      margin: auto;
      background-color: #60b6d3;
      border-radius: 2rem;
      border: var(--primary-color);
      position: relative;
      bottom: -20px;
      color: black;
      position: relative;
text-align: center;
}
.project-heading{
    position: relative;
    top: 20px;
    color:black;
    position: relative;
    text-align: center;
    
}
.project-description{
    color: black;
}
.projectone, .projecttwo, .projectthree, .projectfour, .projectfive, .projectsix,.projectseven, .project-heading{
    position: relative;
    text-align: center;
}
.projectone, .projecttwo, .projectthree, .projectfour, .projectfive, .projectsix, .projectseven{
    top: -10px;
}